{% extends 'base.html.twig' %}
{% block stylesheets %}
	<style>
		.align-center {
			margin: 0 auto;
		}
	</style>
{% endblock %}
{% block body %}

{# <a href="/{{ app.user ? 'logout': 'login' }}" type="button"> {{ app.user ? 'Logout': 'Login' }}
                </a> #}
{% if app.user %}
	<a href="{{path('app_logout')}}">
		Logout
	</a>
{% endif %}

{% if app.user is empty %}
	<a href="{{path('app_login')}}">
		Login
	</a>
{% endif %}

{% if app.user %}
	<p>Welcome
	</p>
	<p>{{ app.user.email }}</p>
</p>{% endif %}<div class="row">
<div class="col-lg-8 align-center">
	<h1>
		Blogs

	</h1>
	{% for blog in blogs %}
		<h4> {{ blog.title }}
		</h4>
		<p> {{ blog.body }}
		</p>

		<tr>
			<td> {{ blog.title }}
			</td>
			<td> {{ blog.shortDescription }}
			</td>
			<td>
				<button class="btn btn-primary">
					Edit
				</button>
			</td>
			<td>
				<button class="btn btn-danger">
					Delete
				</button>
			</td>
		</tr>
	{% endfor %}

</div></div>{% endblock %}
